<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/users/login">Login</a>
    <a href="/auth/signup">Create Account</a>
    <a href="/users/logout">LogOut</a>
  </nav>
  {{{body}}}
</body>

</html>