body:not(.no-size) {
  padding: 50px;
  font: .9rem "Montserrat", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  color: #bfb9b2;
  
}

/* home button */
a.nav-link.active[href="/home"] {
  color: #bfb9b2;
}


/* Title All-products */
h2.all-products {
  font-size: 3.65rem;
  color: #bfb9b2;
  margin: 0;
  text-align: center;
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
}
/* Product name */
h3.product-name {
  font-size: 2.3rem;
  color: #bfb9b2;
  
}

/* Product Description */

p.description {
  max-width: 300px; /* adjust this value as needed */
  word-wrap: break-word;
 color: #bfb9b2;
  margin-top: 0;
  margin-bottom: 1.3rem;
  font-size: 1.24rem ;
}

/* Details button */
a:-webkit-any-link {
  color: orangered;
  cursor: pointer;
  text-decoration: none;
  font-size:calc(1.7vw);
}

/* PRODUCT IMAGES */
.arrangements {
  height: 35vh;
  object-fit:contain;
}

.add-product-img {
  height: 35vh;
  object-fit:contain;
}

.product-details-img{
  height: 35vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  height: 60vh;
  width: 100vw;
  object-fit: contain;
}

/* NAV BAR FONTS */
.navbar-nav li a,
.navbar-nav .dropdown-menu li a {
  color: #bfb9b2;
  text-decoration: none;
}

.navbar-nav li a:hover {
  color: green;
}

.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.show:hover {
  color: green !important;
}

/* dropdown menu */

ul.dropdown-menu.show {
  margin: 1px;
  padding: 1rem;
  width: 10rem; /* Adjust as needed */
  height: 10.5rem; /* Adjust as needed */
  text-align: center;
  justify-content: center;
  word-wrap: initial;
}

a.signup , a.logout , a.login  {
  font-size: 1.18rem;
  align-items: end;
}


/* SIGN UP */

h1.sign-up{
  font-size: 3.65rem;
  color: #bfb9b2;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

form label {
  /* display: block;
  vertical-align: middle; */
  color: #bfb9b2;
  font-size: 1.24rem ;
}

form input[type="text"], form input[type="email"], form input[type="password"] {
  /* display: block; */
  vertical-align: middle;
}

/* login */
h2.login{
  font-size: 3.65rem;
  color: #bfb9b2;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* add-product */

h2.add-product{
  font-size: 3.65rem;
  color: #bfb9b2;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.edit.product label {
  display: block;
  margin-bottom: 0.5rem;
}

.edit.product input[type="text"],
.edit.product input[type="number"] {
  width: 100%;
  margin: 1px;
  padding: 1rem;
 
  height: 2rem; /* Adjust as needed */
  /* text-align: center; */
  justify-content: center;
  word-wrap: initial;
}

/* Product details */
h2.product-details{
  font-size: 3.65rem;
  color: #bfb9b2;
  margin: 0;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h3.name{
  font-size: 2.3rem;
  color: #bfb9b2;
}

#price {
  font-size: 1.4rem;
}
#description{
  font-size: 1.24rem ;
}